# Python virtual environment
.venv/

# Downloaded Ansible dependencies
ansible/collections/
ansible/roles_galaxy/

# Ansible cache
ansible/.cache/

# Sensitive data (if you use Ansible Vault later)
vault.yml
*.vault_pass
