# 1. Disable DNS functionality (we only want TFTP and Proxy DHCP)
port=0

# Use the primary interface Ansible discovered on the target machine
interface={{ ansible_default_ipv4.interface }}

# 2. Enable verbose DHCP logging for troubleshooting
log-dhcp

# 3. Enable the built-in TFTP server
enable-tftp
tftp-root=/srv/tftp

# 4. Enable Proxy DHCP mode
# NOTE: Using /24 (255.255.255.0) as it is the standard for 192.168.1.x home networks.
dhcp-range=192.168.1.0,proxy,255.255.255.0

# --- Identification ---
# If the client requests option 175, it means it is currently running iPXE
dhcp-match=set:ipxe,175

# --- For standard clients (NON-iPXE) ---
# We send them the iPXE bootloader to upgrade their capabilities
pxe-service=tag:!ipxe, x86PC, "Load iPXE (BIOS)", undionly.kpxe
pxe-service=tag:!ipxe, X86-64_EFI, "Load iPXE (UEFI)", ipxe.efi

# --- For iPXE clients ---
# Now that they speak iPXE, we send them the actual boot menu!
pxe-service=tag:ipxe, x86PC, "Launch Menu", boot.ipxe
pxe-service=tag:ipxe, X86-64_EFI, "Launch Menu", boot.ipxe