[defaults]
## If you have the processing power available (hint: you have!) and want to increase forks!
## This speeds up Ansible by increasing parallism
forks = 50

## Default the inventory to use, can be overwritten using -i
;inventory = ./inventories/demo

remote_user = ansible
gathering = smart

collections_path = collections
roles_path = roles_galaxy:roles

## Cache Facts for few seconds
fact_caching = jsonfile
fact_caching_timeout = 10
fact_caching_connection = .cache

interpreter_python = auto_silent

[diff]
# Enable always show diff
;always = true

[ssh_connection]
pipelining = true

## Use the following config to control reuse of ssh connections
## and make use of openssh newer option accept-new
ssh_args = -C -o ControlMaster=yes -o ControlPersist=60s -o StrictHostKeyChecking=accept-new